@import './../../styles/colors.scss';

.logout-button{
    background: none;
    border: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

.logout-button:hover{
	filter: invert(1);
	color: $color-black-dark;
	cursor: pointer;    
}

.user-text{
    font-size: 12px; 
}

.logout-icon{
    height: 12px;
    margin-right: 5px;
}

.login-button{
    background: none;
    border: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin-right: 5px;
}

.login-button:hover{
		filter: invert(1);
		color: $color-black-dark;
		cursor: pointer;
}

.login-icon{
    height: 18px;
}